<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="description" content="" />
	<meta name="robots" content="index,follow" />
	<link rel="stylesheet" type="text/css" href="/css/sd_lightbox.css" media="all">
	<link rel="stylesheet" type="text/css" href="/css/dark-bottom.css" media="all">
	<link rel="stylesheet" type="text/css" href="/css/style.css" media="all">
	<link rel="stylesheet" type="text/css" href="/css/slick.css" media="all">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css" />
	<title>DC/DC Transformers & Microgrids | The Quantum Guys</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		@media only screen and (max-width: 700px) {
			.mobile-menu {
				display: block!important;
			}
			.desktop-menu {
				display: none!important;
			}
		}
	</style>
	<script>
		function showMobileDropdown1() {
			const element = document.querySelector('#mobile-products-prototypes-dropdown');
			if(element.style.display === 'none') element.style.display = 'block';
			else element.style.display = 'none';
		}
		function showMobileDropdown2() {
			const element = document.querySelector('#mobile-main-focus-areas-dropdown');
			if(element.style.display === 'none') element.style.display = 'block';
			else element.style.display = 'none';
		}
	</script>
</head>

<body id="pid1">
	<div id="canvas">
		<div id="section">
			<div id="headerbar">
				<div class="headerbar-inner">
					<a href="/" id="logo" class="logo">
						<img src="/img/TQGlogo.png" alt="">
					</a>
					<div id="menu" class="men-main">
						<button type="button" class="men-button"> <span class="menu-icon-wrap"> <span class="menu-icon"> <span class="menu-icon-line menu-icon-line-top"></span> <span class="menu-icon-line menu-icon-line-middle"></span> <span class="menu-icon-line menu-icon-line-bottom"></span>
								</span> </span> </button>
						<div class="men-main-wrap">
							<ul class="men-level-1-wrap men-wrap desktop-menu">
								<li class="men-level-1-item men-item first"><a href="/">Home</a></li>
								<li class="men-level-1-item men-item sub"><a href="/competences_and_services">Competences & Services</a></li>
								<li class="men-level-1-item men-item sub"><a>Products & Prototypes</a>
									<ul class="men-level-2-wrap men-wrap">
										<li class="men-level-2-item men-item first"><a href="/temp_humidity_sensor">Temp/Humidity sensor with OPC UA interface</a></li>
										<li class="men-level-2-item men-item"><a href="/opc_ua">OPC UA and MQTT control interface for RS 232 scales</a></li>
										<li class="men-level-2-item men-item"><a href="/1_8kw_power_supply">1.8kW power supply with integrated control system for vacuum bakeout applications</a></li>
										<li class="men-level-2-item men-item last"><a href="/50kv_100a_short_pulse">50kV/100A short pulse transformer (in production)</a></li>
										<li class="men-level-2-item men-item last"><a href="/10kw_dcdc_transformer">10kW DC/DC transformer (planned)</a></li>
									</ul>
									<span class="opener"></span>
								</li>
								<li class="men-level-1-item men-item sub"><a>Main Focus Areas</a>
									<ul class="men-level-2-wrap men-wrap">
										<li class="men-level-2-item men-item first"><a href="/short_pulse_transformers">Short pulse transformers</a></li>
										<li class="men-level-2-item men-item"><a href="/dcdc_transformers_and_microgrids">DC/DC transformers and microgrids</a></li>
										<li class="men-level-2-item men-item"><a href="/industrial_iot_control">Industrial IoT control</a></li>
									</ul>
									<span class="opener"></span>
								</li>
								<li class="men-level-1-item men-item sub"><a href="/competences_and_services">Competences & Services</a></li>
								<li class="men-level-1-item men-item sub"><a href="/about">About us</a></li>
								<li class="men-level-1-item men-item sub"><a href="/#contact">Contact us</a></li>
							</ul>
							<ul class="men-level-1-wrap men-wrap mobile-menu" style="display:none;">
								<li class="men-level-1-item men-item first"><a href="/">Home</a></li>
								<!-- <li class="men-level-1-item men-item sub"><a href="">Competences & Services</a>
									<ul class="men-level-2-wrap men-wrap">
										<li class="men-level-2-item men-item first"><a href="">High power electronics design</a></li>
										<li class="men-level-2-item men-item"><a href="">PCB prototyping</a></li>
										<li class="men-level-2-item men-item"><a href="">NodeRed, OPC UA and Programmable Logic Controller</a></li>
										<li class="men-level-2-item men-item last"><a href="">Vacuum systems design & consolidation</a></li>
										<li class="men-level-2-item men-item last"><a href="">IoT & digital transformation</a></li>
									</ul>
									<span class="opener"></span>
								</li> -->
								<li class="men-level-1-item men-item sub" style="cursor:pointer;" onclick="showMobileDropdown1()"><a>Products & Prototypes</a>
									<ul class="men-level-2-wrap men-wrap" id="mobile-products-prototypes-dropdown" style="display:none;">
										<li class="men-level-2-item men-item first"><a href="/temp_humidity_sensor">Temp/Humidity sensor with OPC UA interface</a></li>
										<li class="men-level-2-item men-item"><a href="/opc_ua">OPC UA and MQTT control interface for RS 232 scales</a></li>
										<li class="men-level-2-item men-item"><a href="/1_8kw_power_supply">1.8kW power supply with integrated control system for vacuum bakeout applications</a></li>
										<li class="men-level-2-item men-item last"><a href="/50kv_100a_short_pulse">50kV/100A short pulse transformer (in production)</a></li>
										<li class="men-level-2-item men-item last"><a href="/10kw_dcdc_transformer">10kW DC/DC transformer (planned)</a></li>
									</ul>
									<span class="opener"></span>
								</li>
								<li class="men-level-1-item men-item sub" style="cursor:pointer;" onclick="showMobileDropdown2()"><a>Main Focus Areas</a>
									<ul class="men-level-2-wrap men-wrap" id="mobile-main-focus-areas-dropdown" style="display:none;">
										<li class="men-level-2-item men-item first"><a href="/short_pulse_transformers">Short pulse transformers</a></li>
										<li class="men-level-2-item men-item"><a href="/dcdc_transformers_and_microgrids">DC/DC transformers and microgrids</a></li>
										<li class="men-level-2-item men-item"><a href="/industrial_iot_control">Industrial IoT control</a></li>
									</ul>
									<span class="opener"></span>
								</li>
								<!-- <li class="men-level-1-item men-item sub"><a>Company</a>
									<ul class="men-level-2-wrap men-wrap">
										<li class="men-level-2-item men-item"><a href="/about">About us</a></li>
										<li class="men-level-2-item men-item first"><a href="/investor_relations">Investor Relations</a></li>
									</ul>
									<span class="opener"></span>
								</li> -->
								<li class="men-level-1-item men-item sub"><a href="/about">About us</a></li>
								<li class="men-level-1-item men-item sub"><a href="/#contact">Contact us</a></li>
							</ul>
							<div class="clear"></div>
						</div>
					</div>
					<!-- <div id="lang">
						<ul id="language_menu" class="list-inline">
							<li class="en active"><a href="index.html"><span class="en">EN</span></a></li>
							<li class="de"><a href="de/index.html"><span class="de">DE</span></a></li>
							<li class="jp"><a href="jp/index.html"><span class="jp">JP</span></a></li>
						</ul>
						<div class="clear"></div>
					</div> -->
				</div>
			</div>

      <div class="content fc-2 content-standard" style="background: url('img/agri.jpg');">
        <div class="content-inner-wrap">
          <div class="article">
            <div id="c209" class="frame frame-default frame-type-text frame-layout-0">
              <div class="inner-frame">
                <div class="dist-wrap">
                  <header>
                    <h3 class="ce-headline-center">Main focus areas</h3>
                  </header>
                </div>
              </div>
            </div>
            <div id="c208" class="frame frame-default frame-type-text frame-layout-0">
              <div class="inner-frame">
                <div class="dist-wrap">
                  <p class="align-center">
                    <a href="/short_pulse_transformers" class="button btn mm">Short pulse transformers</a>
                    <a href="/dcdc_transformers_and_microgrids" class="button btn mm" style="background:rgb(85, 95, 105);">DC/DC Tranformers and Microgrids</a>
                    <a href="/industrial_iot_control" class="button btn mm">Industrial IOT Control</a>
                  </p>
                </div>
              </div>
            </div>
             </div>
          <div class="clear"></div>
        </div>
      </div>

			<div class="content fc-1 color-std content-standard">
				<div class="content-inner-wrap">
					<div class="article">
						<div id="c2" class="frame frame-default frame-type-text frame-layout-0">
							<div class="inner-frame">
								<div class="dist-wrap">
									<header>
										<h1 class="ce-headline">DC/DC Transformers and Microgrids</h1>
									</header>
									<p>
                    All sources of electrical renewable energy and energy storage systems are either inherently DC or have a mandatory internal DC-link bus. Conventional integration of multiple renewable sources into an AC electrical grid require expensive, less reliable and less efficient DC/AC converters for each one of these sources. For instance, in order to use the energy from a PV-panel to charge an electric vehicle, two stages of conversion are necessary: DC/AC at the production center and AC/DC at the charging center.
                    A solution to this problematics, in our view, is to create an intermediate smart DC microgrid that will facilitate substantially the interconnection of many intermittent renewable sources and fast changing loads by using simpler, more reliable, more cost effective and more efficient DC/DC converters.
                  </p>
                  <p>
                    The smart DC microgrid concept is expected to bring enormous savings on both capital and operating cost of electrical grids at a local/regional scale and we believe has a great potential of development, changing the paradigm of electrical distribution networks (“local production/local consumption”) in the medium/long term.
								  </p>
								</div>
							</div>
						</div>
						<div id="c2" class="frame frame-default frame-type-text frame-layout-0">
							<div class="inner-frame">
								<img src="/img/microgrids.png" style="width:100%;" alt="">
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>

			<div id="footer" class="content">
				<div class="footer-top">
					<div class="content-inner-wrap">
						<ul class="footer-menu">
							<!-- <li class="footer-menu-item men-item active"><a href="index.html" class="active">Home</a></li> -->
						</ul>
						<a href="/" class="ae-link" target="_blank">© The Quantum Guys &#124; 2019</a>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script src="/js/hammer.min.js" type="text/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js" integrity="sha256-zUQGihTEkA4nkrgfbbAM1f3pxvnWiznBND+TuJoUv3M=" crossorigin="anonymous"></script>
	<script src="/js/script.js" type="text/javascript"></script>
	<script src="/js/sd_lightbox.js" type="text/javascript"></script>

	<script type="text/javascript">
	$(document).ready(function(){
		$('.inner-frame').slick({
			autoplay: true,
			slidesToShow: 1,
			slidesToScroll: 1
		});
	});
	</script>
	<script>
		var mobileHover = function () {
			$('*').on('touchstart', function () {
					$(this).trigger('hover');
			}).on('touchend', function () {
					$(this).trigger('hover');
			});
		};

		mobileHover();
	</script>
	<!-- <div id="sd-lightbox">
		<div id="sd-lightbox-top">
			<div id="sd-lightbox-counter"></div>
			<a href="index.html#" id="sd-lightbox-close" title="Close"></a> <a href="index.html#" id="sd-lightbox-fullscreen" title="Toggle fullscreen"></a>
		</div>
		<div id="sd-lightbox-images"></div>
		<div id="sd-lightbox-arrows"> <a href="index.html#" id="sd-lightbox-previous" title="Previous image"></a> <a href="index.html#" id="sd-lightbox-next" title="Next image"></a> </div>
		<div id="sd-lightbox-bottom">
			<div id="sd-lightbox-caption"></div>
		</div>
		<div id="sd-lightbox-overlay"></div>
	</div> -->
</body>

</html>
