<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="description" content="" />
	<meta name="robots" content="index,follow" />
	<link rel="stylesheet" type="text/css" href="/css/sd_lightbox.css" media="all">
	<link rel="stylesheet" type="text/css" href="/css/dark-bottom.css" media="all">
	<link rel="stylesheet" type="text/css" href="/css/style.css" media="all">
	<link rel="stylesheet" type="text/css" href="/css/slick.css" media="all">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css" />
	<link rel="stylesheet" type="text/css" href="/css/custom.css" media="all">
	<title>The Quantum Guys</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		@media(max-width:2000px) {

		}
		@media only screen and (max-width: 700px) {
			.mobile-menu {
				display: block!important;
			}
			.desktop-menu {
				display: none!important;
			}
		}
	</style>
	<script>
		function showMobileDropdown1() {
			const element = document.querySelector('#mobile-products-prototypes-dropdown');
			if(element.style.display === 'none') element.style.display = 'block';
			else element.style.display = 'none';
		}
		function showMobileDropdown2() {
			const element = document.querySelector('#mobile-main-focus-areas-dropdown');
			if(element.style.display === 'none') element.style.display = 'block';
			else element.style.display = 'none';
		}
	</script>
</head>

<body id="pid1">
	<div id="canvas">
		<div id="section">
			<div id="headerbar">
				<div class="headerbar-inner">
					<a href="/" id="logo" class="logo">
						<img src="/img/TQGlogo.png" alt="">
					</a>
					<div id="menu" class="men-main">
						<button type="button" class="men-button"> <span class="menu-icon-wrap"> <span class="menu-icon"> <span class="menu-icon-line menu-icon-line-top"></span> <span class="menu-icon-line menu-icon-line-middle"></span> <span class="menu-icon-line menu-icon-line-bottom"></span>
								</span> </span> </button>
						<div class="men-main-wrap">
							<ul class="men-level-1-wrap men-wrap desktop-menu">
								<li class="men-level-1-item men-item first"><a href="/">Home</a></li>
								<li class="men-level-1-item men-item sub"><a href="/competences_and_services">Competences & Services</a></li>
								<li class="men-level-1-item men-item sub"><a>Products & Prototypes</a>
									<ul class="men-level-2-wrap men-wrap">
										<li class="men-level-2-item men-item first"><a href="/temp_humidity_sensor">Temp/Humidity sensor with OPC UA interface</a></li>
										<li class="men-level-2-item men-item"><a href="/opc_ua">OPC UA and MQTT control interface for RS 232 scales</a></li>
										<li class="men-level-2-item men-item"><a href="/1_8kw_power_supply">1.8kW power supply with integrated control system for vacuum bakeout applications</a></li>
										<li class="men-level-2-item men-item last"><a href="/50kv_100a_short_pulse">50kV/100A short pulse transformer (in production)</a></li>
										<li class="men-level-2-item men-item last"><a href="/10kw_dcdc_transformer">10kW DC/DC transformer (planned)</a></li>
									</ul>
									<span class="opener"></span>
								</li>
								<li class="men-level-1-item men-item sub"><a>Main Focus Areas</a>
									<ul class="men-level-2-wrap men-wrap">
										<li class="men-level-2-item men-item first"><a href="/short_pulse_transformers">Short pulse transformers</a></li>
										<li class="men-level-2-item men-item"><a href="/dcdc_transformers_and_microgrids">DC/DC transformers and microgrids</a></li>
										<li class="men-level-2-item men-item"><a href="/industrial_iot_control">Industrial IoT control</a></li>
									</ul>
									<span class="opener"></span>
								</li>
								<!-- <li class="men-level-1-item men-item sub"><a>Company</a>
									<ul class="men-level-2-wrap men-wrap">
										<li class="men-level-2-item men-item"><a href="/about">About us</a></li>
										<li class="men-level-2-item men-item first"><a href="/investor_relations">Investor Relations</a></li>
									</ul>
									<span class="opener"></span>
								</li> -->
								<li class="men-level-1-item men-item sub"><a href="/about">About us</a></li>
								<li class="men-level-1-item men-item sub"><a href="/#contact">Contact us</a></li>
							</ul>
							<ul class="men-level-1-wrap men-wrap mobile-menu" style="display:none;">
								<li class="men-level-1-item men-item first"><a href="/">Home</a></li>
								<li class="men-level-1-item men-item sub"><a href="/competences_and_services">Competences & Services</a></li>
								<li class="men-level-1-item men-item sub" style="cursor:pointer;" onclick="showMobileDropdown1()"><a>Products & Prototypes</a>
									<ul class="men-level-2-wrap men-wrap" id="mobile-products-prototypes-dropdown" style="display:none;">
										<li class="men-level-2-item men-item first"><a href="/temp_humidity_sensor">Temp/Humidity sensor with OPC UA interface</a></li>
										<li class="men-level-2-item men-item"><a href="/opc_ua">OPC UA and MQTT control interface for RS 232 scales</a></li>
										<li class="men-level-2-item men-item"><a href="/1_8kw_power_supply">1.8kW power supply with integrated control system for vacuum bakeout applications</a></li>
										<li class="men-level-2-item men-item last"><a href="/50kv_100a_short_pulse">50kV/100A short pulse transformer (in production)</a></li>
										<li class="men-level-2-item men-item last"><a href="/10kw_dcdc_transformer">10kW DC/DC transformer (planned)</a></li>
									</ul>
									<span class="opener"></span>
								</li>
								<li class="men-level-1-item men-item sub" style="cursor:pointer;" onclick="showMobileDropdown2()"><a>Main Focus Areas</a>
									<ul class="men-level-2-wrap men-wrap" id="mobile-main-focus-areas-dropdown" style="display:none;">
										<li class="men-level-2-item men-item first"><a href="/short_pulse_transformers">Short pulse transformers</a></li>
										<li class="men-level-2-item men-item"><a href="/dcdc_transformers_and_microgrids">DC/DC transformers and microgrids</a></li>
										<li class="men-level-2-item men-item"><a href="/industrial_iot_control">Industrial IoT control</a></li>
									</ul>
									<span class="opener"></span>
								</li>
								<!-- <li class="men-level-1-item men-item sub"><a>Company</a>
									<ul class="men-level-2-wrap men-wrap">
										<li class="men-level-2-item men-item"><a href="/about">About us</a></li>
										<li class="men-level-2-item men-item first"><a href="/investor_relations">Investor Relations</a></li>
									</ul>
									<span class="opener"></span>
								</li> -->
								<li class="men-level-1-item men-item sub"><a href="/about">About us</a></li>
								<li class="men-level-1-item men-item sub"><a href="/#contact">Contact us</a></li>
							</ul>
							<div class="clear"></div>
						</div>
					</div>
					<!-- <div id="lang">
						<ul id="language_menu" class="list-inline">
							<li class="en active"><a href="index.html"><span class="en">EN</span></a></li>
							<li class="de"><a href="de/index.html"><span class="de">DE</span></a></li>
							<li class="jp"><a href="jp/index.html"><span class="jp">JP</span></a></li>
						</ul>
						<div class="clear"></div>
					</div> -->
				</div>
			</div>
			<div id="header" class="content-parallax header">
				<div id="image" class="content-bg">
					<div id="c1" class="frame frame-default frame-type-html frame-layout-0">
						<div class="inner-frame">
							<div class="dist-wrap">
								<video style="width:100%;height:550px;object-fit: cover;" src="/video/tqg-index-video-real-optimized.mp4" playsinline autoplay muted loop> Sorry, your browser doesn't support embedded videos, but don't worry, you can <a href="fileadmin/user_upload/videos/headervideo-loop.mp4">download
										it</a> and watch it with your favorite video player!
								</video>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="content fc-1 color-std content-standard">
				<div class="content-inner-wrap">
					<div class="article">
						<div id="c2" class="frame frame-default frame-type-text frame-layout-0">
							<div class="inner-frame">
								<div class="dist-wrap">
									<header>
										<h1 class="ce-headline-center">THE QUANTUM GUYS</h1>
									</header>
									<p class="align-center">
										We are a team of very experienced people with a very diverse background.
										From five different countries with very qualified backgrounds in different areas. During 2018, we came together to merge our competences and visions in The Quantum Guys.
										Ideas about IIoT (Industrial Internet of Things), Automation, high power electronics and open source software came to format a vision around providing the world with first class products and services in the area of green technology.
										<br>Through modern standards, products and tools combined with our expertise, we will provide the world with first class products and services at a cost that is very competitive.
									</p>
								</div>
							</div>
						</div>
						<div id="c216" class="frame frame-csc-col-width-100 frame-type-text frame-layout-0">
							<div class="inner-frame">
								<div class="dist-wrap">
									<p class="align-center">
										<a href="/about" class="button btn">Read more</a>
										<form class="download-form align-center" id="about" style="display:none;width:100%;" onsubmit="handleAboutDownloadSubmit(); return false;">
											<input style="border: 1px solid black;width:280px" type="email" name="to_email" id="to_email" placeholder="White paper download section. Enter your email here." required>
											<button type="submit" class="button" style="border-radius: 0!important;margin-left: 0.3rem;">Download</button>
										</form>
										<p class="align-center" onclick="showDownloadForm(this, 'about')"><span class="button"><a>Download</a></span></p>
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
					<div class="content fc-1 color-std content-standard" style="background:#f8f8f8">
				<div class="content-inner-wrap">
					<div class="article">
						<div id="c2" class="frame frame-default frame-type-text frame-layout-0">
							<div class="inner-frame">
								<div class="dist-wrap">
									<header>
										<h1 class="align-center">TQG wins Cleantech Scandinavia's "Impact Venture Builder"</h1>
										<p class="align-center">
											<a target="_blank" href="/pdf/impact_venture_builder_eng.pdf" class="button btn" style="margin-top:1rem;">English version</a>
											<a target="_blank" href="/pdf/impact_venture_builder_swe.pdf" class="button btn" style="margin-top:1rem;">Swedish version</a>
										</p>
									</header>
								</div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
			<div class="content fc-2 color-std content-wide">
				<div class="content-inner-wrap">
					<div class="article"> <a id="c3"></a>
						<div class="menu-pages">
							<div style="position:relative;" class="menu-pages-item csc-col csc-col-width-33 csc-box-size-hahn csc-box aehoverfx aehoverfx-flip"><a href="/about" title="About us"><span class="csc-default csc-text-align-center csc-text-align-vcenter"><span
										  class="csc-textpic csc-textpic-center csc-textpic-above"><span class="flip-side flip-foreground"><span class="csc-textpic-imagewrap"><span class="csc-textpic-image csc-textpic-last"><span class="csc-textpic-inner-image"><span class="csc-background-image"
															  style="background-image:url('/img/2.jpg');"></span></span></span></span></span><span class="flip-side flip-background"><span class="csc-textpic-imagewrap"><span class="csc-textpic-image csc-textpic-last"><span
														  class="csc-textpic-inner-image"><span class="csc-background-image" style="background-image:url('/img/2.jpg');"></span></span></span></span><span class="csc-textpic-text t-text"><span
													  class="csc-vertical-center"><span class="p t-text-inner"><img class="teaser-title" src="/img/TQGlogo.png" style="width:70px;margin-left:auto;margin-right:auto;"/>
															<span class="teaser-button">About us</span></span></span></span></span></span></span></a>
							</div>
							<div class="menu-pages-item csc-col csc-col-width-33 csc-box-size-hahn csc-box aehoverfx aehoverfx-flip"><a href="/short_pulse_transformers" title="Main focus areas"><span class="csc-default csc-text-align-center csc-text-align-vcenter"><span
										  class="csc-textpic csc-textpic-center csc-textpic-above"><span class="flip-side flip-foreground"><span class="csc-textpic-imagewrap"><span class="csc-textpic-image csc-textpic-last"><span class="csc-textpic-inner-image"><span class="csc-background-image"
															  style="background-image:url('/img/mfa.jpg');"></span></span></span></span></span><span class="flip-side flip-background"><span class="csc-textpic-imagewrap"><span class="csc-textpic-image csc-textpic-last"><span
														  class="csc-textpic-inner-image"><span class="csc-background-image" style="background-image:url('/img/3.jpg');"></span></span></span></span><span class="csc-textpic-text t-text"><span class="csc-vertical-center"><span
														  class="p t-text-inner"><span class="teaser-title">Main Focus Areas</span><span class="teaser-text">

															</span><span class="teaser-button">Learn more</span></span></span></span></span></span></span></a></div>
							<div class="menu-pages-item csc-col csc-col-width-33 csc-box-size-hahn csc-box aehoverfx aehoverfx-flip"><a href="/temp_humidity_sensor" title="Products & Prototypes"><span class="csc-default csc-text-align-center csc-text-align-vcenter"><span
										  class="csc-textpic csc-textpic-center csc-textpic-above"><span class="flip-side flip-foreground"><span class="csc-textpic-imagewrap"><span class="csc-textpic-image csc-textpic-last"><span class="csc-textpic-inner-image"><span class="csc-background-image"
															  style="background-image:url('/img/winds.jpg');"></span></span></span></span></span><span class="flip-side flip-background"><span class="csc-textpic-imagewrap"><span class="csc-textpic-image csc-textpic-last"><span
														  class="csc-textpic-inner-image"><span class="csc-background-image" style="background-image:url('/img/winds.jpg');"></span></span></span></span><span class="csc-textpic-text t-text"><span
													  class="csc-vertical-center"><span class="p t-text-inner"><span class="teaser-title">Products & Prototypes</span><span class="teaser-text">
															</span><span class="teaser-button">Learn more</span></span></span></span></span></span></span></a></div>
							<div class="menu-pages-item csc-col csc-col-width-33 csc-box-size-hahn csc-box aehoverfx aehoverfx-flip"><a href="/competences_and_services" title="Competences & Services"><span class="csc-default csc-text-align-center csc-text-align-vcenter"><span
										  class="csc-textpic csc-textpic-center csc-textpic-above"><span class="flip-side flip-foreground"><span class="csc-textpic-imagewrap"><span class="csc-textpic-image csc-textpic-last"><span class="csc-textpic-inner-image"><span class="csc-background-image"
															  style="background-image:url('/img/4.jpg');"></span></span></span></span></span><span class="flip-side flip-background"><span class="csc-textpic-imagewrap"><span class="csc-textpic-image csc-textpic-last"><span
														  class="csc-textpic-inner-image"><span class="csc-background-image" style="background-image:url('/img/4.jpg');"></span></span></span></span><span class="csc-textpic-text t-text"><span
													  class="csc-vertical-center"><span class="p t-text-inner"><span class="teaser-title">Competences & Services</span><span class="teaser-text">
															High power electronics, EMC consolidation, PCB prototyping and micro soldering, NodeRed, OPC UA and PLC programming, Vacuum systems design & consolidation, IoT & digital transformation
															</span><span class="teaser-button">Learn more</span></span></span></span></span></span></span></a></div>
							<div class="menu-pages-item csc-col csc-col-width-33 csc-box-size-hahn csc-box aehoverfx aehoverfx-flip"><a href="/customer_relations" title="Investor & Customer Relations"><span class="csc-default csc-text-align-center csc-text-align-vcenter"><span class="csc-textpic csc-textpic-center csc-textpic-above"><span
											  class="flip-side flip-foreground"><span class="csc-textpic-imagewrap"><span class="csc-textpic-image csc-textpic-last"><span class="csc-textpic-inner-image"><span class="csc-background-image" style="background-image:url('/img/5.jpg');"></span></span></span></span></span><span
											  class="flip-side flip-background"><span class="csc-textpic-imagewrap"><span class="csc-textpic-image csc-textpic-last"><span class="csc-textpic-inner-image"><span class="csc-background-image" style="background-image:url('/img/5.jpg');"></span></span></span></span><span
												  class="csc-textpic-text t-text"><span class="csc-vertical-center"><span class="p t-text-inner"><span class="teaser-title">Investor & Customer Relation</span><span class="teaser-text">

													</span><span class="teaser-button">Learn more</span></span></span></span></span></span></span></a></div>
							<div class="menu-pages-item csc-col csc-col-width-33 csc-box-size-hahn csc-box aehoverfx aehoverfx-flip"><a href="/about#office" title="Where to find us"><span class="csc-default csc-text-align-center csc-text-align-vcenter"><span
										  class="csc-textpic csc-textpic-center csc-textpic-above"><span class="flip-side flip-foreground"><span class="csc-textpic-imagewrap"><span class="csc-textpic-image csc-textpic-last"><span class="csc-textpic-inner-image"><span class="csc-background-image"
															  style="background-image:url('/img/1.jpg');"></span></span></span></span></span><span class="flip-side flip-background"><span class="csc-textpic-imagewrap"><span class="csc-textpic-image csc-textpic-last"><span
														  class="csc-textpic-inner-image"><span class="csc-background-image" style="background-image:url('/img/1.jpg');"></span></span></span></span><span class="csc-textpic-text t-text"><span
													  class="csc-vertical-center"><span class="p t-text-inner"><span class="teaser-title">Where to find us?</span><span class="teaser-text">
																<p>We are located at Medicon Village in Lund.</p>
															</span><span class="teaser-button">See where</span></span></span></span></span></span></a></div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="content fc-3 color-std content-standard">
				<div class="content-inner-wrap">
					<div class="article">
						<div id="c165" class="frame frame-default frame-type-text frame-layout-0">
							<div class="inner-frame">
								<div class="dist-wrap">
									<h2 class="align-center">We want to work with you!</h2>
									<p>&nbsp;</p>
									<p class="align-center"><span class="button"><a href="/#contact">Contact us</a></span></p>
								</div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>

			<!-- <div class="content fc-2 color-std content-standard">
				<div class="content-inner-wrap">
					<div class="article">
						<div id="c13" class="frame frame-csc-col-width-100 frame-type-text frame-layout-0">
							<div class="inner-frame">
								<div class="dist-wrap">
									<header>
										<h2 class="align-center"> Siemens Programmable Logic Controller </h2>
									</header>
									<p class="align-center">
										Siemens Programmable Logic Controller (PLC) control screen able to display on every devices with wifi connection and screen attached, i.e. smart phone.
									</p>
									<form class="download-form align-center" id="siemens" style="display:none;" onsubmit="handleDownloadSubmit('any_sqreen_asq'); return false;">
										<input style="border: 1px solid black" type="email" name="to_email" id="to_email" placeholder="Enter your email and we will send the file to you..." required>
										<button type="submit" class="button" style="border-radius: 0!important;margin-left: 0.3rem;">Download</button>
									</form>
									<p class="align-center" onclick="showDownloadForm(this, 'siemens')"><span class="button"><a>Download paper</a></span></p>
								</div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div> -->

			<div id="contact" class="content fc-5 color-gray content-parallax">
				<div class="content-bg" style="background-image:url('/img/dark-2.jpg');"></div>
				<div class="content-inner-wrap">
					<div class="article"> <a id="c6"></a>
						<div id="c5" class="frame frame-default frame-type-header frame-layout-0">
							<div class="inner-frame">
								<div class="dist-wrap">
									<header>
										<h3 class="ce-headline-center"> Contact form </h3>
									</header>
								</div>
							</div>
						</div>
						<div id="c4" class="frame frame-default frame-type-list frame-layout-0">
							<div class="inner-frame">
								<div class="dist-wrap">
									<div class="tx-powermail">
										<div class="container-fluid">
											<form class="powermail_form powermail_form_1 " action="/mail/contact" method="post">
												<h3>Contact form</h3>
												<fieldset class="powermail_fieldset powermail_fieldset_1 ">
													<legend class="powermail_legend">fieldset</legend>
													<div class="powermail_fieldwrap powermail_fieldwrap_type_input powermail_fieldwrap_name "><label for="powermail_field_name" class="powermail_label" title=""> Name<span class="mandatory">*</span></label>
														<div class="powermail_field">
															<input required="required" placeholder="Name*" class="powermail_input" type="text"name="name" />
														</div>
													</div>
													<div class="powermail_fieldwrap powermail_fieldwrap_type_input powermail_fieldwrap_email "><label for="powermail_field_email" class="powermail_label" title=""> Email<span class="mandatory">*</span></label>
														<div class="powermail_field">
															<input required="required" placeholder="Email*" class="powermail_input" type="text"name="email" />
														</div>
													</div>
													<div class="powermail_fieldwrap powermail_fieldwrap_type_input powermail_fieldwrap_phone "><label for="powermail_field_phone" class="powermail_label" title=""> Phone </label>
														<div class="powermail_field">
															<input placeholder="Phone" class="powermail_input" type="text"name="phone" />
														</div>
													</div>
													<div class="powermail_fieldwrap powermail_fieldwrap_type_textarea powermail_fieldwrap_message "><label for="powermail_field_message" class="powermail_label" title=""> Message </label>
														<div class="powermail_field">
															<textarea rows="5" cols="20" placeholder="Message" class="powermail_textarea" name="message"></textarea>
														</div>
													</div>
													<div class="powermail_fieldwrap powermail_fieldwrap_type_check powermail_fieldwrap_privacypolicy "><label for="powermail_field_privacypolicy" class="powermail_label" title=""> Privacy Policy<span class="mandatory">*</span></label>
														<div class="powermail_field">
															<div class="checkbox "><label><input type="hidden" name="tx_powermail_pi1[field][privacypolicy]" value="" />
																<input required="required" class="powermail_checkbox powermail_checkbox_6" type="checkbox" value="I agree that my details from the contact form will be collected and processed to answer my request. The data will be deleted after the processing of your request. Detailed information on handling user data can be found in our &lt;a href=&quot;/privacy-policy&quot; target=&quot;_blank&quot;&gt;privacy policy&lt;/a&gt;." />
																	I agree that my details from the contact form will be collected and processed to answer my request. The data will be deleted after the processing of your request.</a></label></div>
														</div>
													</div>
													<div class="powermail_fieldwrap powermail_fieldwrap_type_html powermail_fieldwrap_send ">
														<div class="powermail_field ">
															<button class="submit">Send</button>
														</div>
													</div>
												</fieldset>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>

			<div id="footer" class="content">
				<div class="footer-top">
					<div class="content-inner-wrap">
						<ul class="footer-menu">
							<!-- <li class="footer-menu-item men-item active"><a href="index.html" class="active">Home</a></li> -->
						</ul>
						<a href="/" class="ae-link" target="_blank">© The Quantum Guys &#124; 2019</a>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script src="/js/hammer.min.js" type="text/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js" integrity="sha256-zUQGihTEkA4nkrgfbbAM1f3pxvnWiznBND+TuJoUv3M=" crossorigin="anonymous"></script>
	<script src="/js/script.js" type="text/javascript"></script>
	<script src="/js/sd_lightbox.js" type="text/javascript"></script>

	<script type="text/javascript">
	$(document).ready(function(){
		$('.inner-frame').slick({
			autoplay: true,
			slidesToShow: 1,
			slidesToScroll: 1
		});
	});
	</script>
	<script type="text/javascript">

		function showDownloadForm(el, id){
			document.querySelector(`#${id}`).style.display = 'block';
			el.style.display = 'none';
		}

		function hideDownloadForm(el, id){
			document.querySelector(`#${id}`).style.display = 'none';
			el.style.display = 'block';
		}

		function handleDownloadSubmit(fileName) {
			const to_email = document.querySelector('#to_email').value;

			axios.post(`/mail/${fileName}`, {
				to_email
			})
			.then(res => {
				alert('Thank you for downloading!');
			})
			.catch(err => console.log(err));
		}

		function handleAboutDownloadSubmit(fileName) {
			const to_email = document.querySelector('#to_email').value;

			axios.post('/mail/download/about', {
				to_email
			})
			.then(res => {
				alert('Thank you for downloading!');
			})
			.catch(err => console.log(err));
		}
	</script>
	<script>
		var mobileHover = function () {
			$('*').on('touchstart', function () {
					$(this).trigger('hover');
			}).on('touchend', function () {
					$(this).trigger('hover');
			});
		};

		mobileHover();
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js" integrity="sha256-S1J4GVHHDMiirir9qsXWc8ZWw74PHHafpsHp5PXtjTs=" crossorigin="anonymous"></script>
</body>

</html>
